@import url("https://fonts.googleapis.com/css?family=ABeeZee");

*{
    font-family: ABeeZee;
    font-weight: normal;
}

body {
    background-image: url("foto/Background/test\ bg.jpg");
    background-position: center;
    background-size: auto;
    margin: 0;
}

.navmenu {
    margin-top: 0;
    background-color: #ff9900;
    display: flex;
}

.navbar {
    margin-left: 600px;
}

.navigation {
    text-decoration: none;
    color : #2e2a26;
    cursor: pointer;
    padding-left: 50px;
}