@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #fdd08b;
    background-image: url('/foto/Background/Background.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
}

.navmenu {
    margin-top: 0;
    background-color: #0f1c3b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.navbar {
    display: flex;
}

.navigation {
    position: static;
    text-decoration: none;
    color : #ffffff; /*#2e2a26*/
    cursor: pointer;
    margin-right: 50px;
    justify-content: space-between;
}

.navigation:hover {
    transition: 0.3s;
    color: #ffa723fa;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.flex-container space-between {
    justify-content: space-between;
}

.flex-item {
    padding: 5px;
    width: 60px;
    height: 50px;
    margin: 5px;
    line-height: 50px;
    text-align: center;
}

.cart-container {
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    border-radius: 15px;
    background-color: #0f1c3b;
    height: fit-content;
    width: fit-content;
}

h1 {
    color: #ffffff;
    font-weight: 100;
}

.cart-product-list {
    padding: 5px;
    background-color: #ffa723fa;
    border-radius: 10px;
}