@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    font-family: 'Nunito', sans-serif;
}

body {
    background: #fdd08b; /*#ffa723fa*/
    /**background-image: url("foto/Background/test\ bg.jpg"); OR color #ff9900 **/
    background-position: center;
    background-size: auto;
    margin: 0;
}


/* HEADER STYLE START */
.navmenu {
    margin-top: 0;
    background-color: #0f1c3b; /*#0f1c3b.#3F3D56*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.navbar {
    display: flex;
}

.navigation {
    position: static;
    text-decoration: none;
    color : #ffffff; /*#2e2a26*/
    cursor: pointer;
    margin-right: 50px;
    justify-content: space-between;
}

.navigation:hover {
    transition: 0.3s;
    color: #ffa723fa;
}

.login {
    padding-left: 630px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    position: absolute;
}

.login:hover {
    transition: 0.3s;
    color: #ffa723fa;
}
/* HEADER STYLE END */

/*Lokacijas style start*/
.logo {
    display: flex;
    height: 45px;
    width: 45px;
}

.lgse {
    display: flex;
    align-items: center;
    background-color: #ffa723fa; /*#3F3D56*/
    height: 60px;
}

.logobutton {
    margin-left: 20px;
    display: block;
    width: 45px;
    height: 45px;
}

.location {
    display: flex;
    margin-left: 15px;
    align-items: center;
    gap: 5px;
}

.locate {
    text-decoration: underline;
    color: black;
}

.locate:hover {    
    text-align: center;
    text-decoration: none;
    color: black;
}

.hloc {
    font-size: 20px;
    font-weight: 100;
}
/*Lokacijas style end*/