@import url("https://fonts.googleapis.com/css?family=ABeeZee");

*{
    font-family: ABeeZee;
    font-weight: normal;
}

body {
    background: #fdd08b; /*#ffa723fa*/
    /**background-image: url("foto/Background/test\ bg.jpg"); OR color #ff9900 **/
    background-position: center;
    background-size: auto;
    margin: 0;
}


.navmenu {
    margin-top: 0;
    background-color: #0f1c3b; /*#0f1c3b.#3F3D56*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.navbar {
    display: flex;
}

.navigation {
    position: static;
    text-decoration: none;
    color : #ffffff; /*#2e2a26*/
    cursor: pointer;
    margin-right: 50px;
    justify-content: space-between;
}

.navigation:hover {
    transition: 0.3s;
    color: #ffa723fa;
}

.logo {
    display: flex;
    height: 45px;
    width: 45px;
}

.lgse {
    display: flex;
    align-items: center;
    background-color: #ffa723fa; /*#3F3D56*/
    height: 60px;
}

.logobutton {
    margin-left: 20px;
    display: block;
    width: 45px;
    height: 45px;
}

.searchdiv {
    position: relative;
    margin-left: 590px;
    padding-left: 5px;
    width: 350px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid #0f1c3b;
    background-color: #fdd08b;
}

.search-input {
    width: 310px;
    height: 30px;
    border: 0;
    outline: none;
    background-color: transparent;
    font-size: 15px;
}

.submitbtn {
    position: relative;
    width: 25px;
    height: 25px;
    background-color: #ffa723fa;
    border: 1px solid #0f1c3b;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.login {
    padding-left: 630px;
    margin-right: 1px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    position: absolute;
}

.login:hover {
    transition: 0.3s;
    color: #ffa723fa;
}

.location {
    display: flex;
    margin-left: 15px;
    align-items: center;
    gap: 5px;
}

.locate {
    text-decoration: underline;
    color: black;
}

.locate:hover {    
    text-align: center;
    text-decoration: none;
    color: black;
}