@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    font-family: 'Nunito', sans-serif;
}
body {
    background: #ffa723fa;
    background-image: url(/foto/Background/Monitor_blue.svg);
    background-repeat: no-repeat;
    background-size: 62.5%;
    background-position-x: 69.5%;
    background-position-y: -11%;
    margin: 0;
}


.navmenu {
    margin-top: 0;
    background-color: #0f1c3b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.navbar {
    display: flex;
}

.navigation {
    position: static;
    text-decoration: none;
    color : #ffffff; /*#2e2a26*/
    cursor: pointer;
    justify-content: space-between;
}

.navigation:hover {
    transition: 0.3s;
    color: #ffa723fa;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.flex-container space-between {
    justify-content: space-between;
}

.flex-item {
    padding: 5px;
    width: 60px;
    height: 50px;
    margin: 5px;
    line-height: 50px;
    text-align: center;
}

.register-container{
    display: flex;
    margin: auto;
    padding: 1rem;
    position: fixed;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%,-50%);
    width: 665px;
    height: 362px;
    left: 50.1%;
    top: 46%;
    background-color: #0f1c3b;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #ffb649;
}