@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    font-family: 'Nunito', sans-serif;
}
body {
    background: #fdd08b; /*#ffa723fa*/
    /**background-image: url("foto/Background/test\ bg.jpg"); OR color #ff9900 **/
    background-size: auto;
    margin: 0;
}

.content {
    width: auto;
    height: auto;
}

/* HEADER STYLE START */

.navmenu {
    height: 60px;
    background-color: #0f1c3b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.flex-container space-between {
    justify-content: space-between;
}

.flex-item {
    padding: 5px;
    width: 60px;
    height: 50px;
    margin: 5px;
    line-height: 50px;
    text-align: center;
}

.navigation {
    text-decoration: none;
    color: #ffffff;
}

.navigation:hover {
    transition: 0.3s;
    color: #ffa723fa;
}

/* HEADER STYLE END */

.service {
    text-align: center;
    margin-top: 50px;
    width: auto;
    height: auto;
    background-color: white;
}

.person-data {
    margin:20px;
}

.person {
    display: block;
    gap: 50px;
}

.drop-button {
    background-color: transparent;
    color: #0f1c3b;
    padding: 10px;
    border: 1px solid;
    border-radius: 15px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    border-radius: 15px;
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 5px 20px 5px #ffa723fa;
    z-index: 1;
}

.dropdown-content > a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ffa723fa;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .drop-button {
    background-color: transparent;
}