@import url("https://fonts.googleapis.com/css?family=ABeeZee");

*{
    font-family: ABeeZee;
    font-weight: normal;
}

body {
    background: #ffa723fa;
    /**background-image: url("foto/Background/test\ bg.jpg"); OR color #ff9900 **/
    background-position: center;
    background-size: auto;
    margin: 0;
}


.navmenu {
    margin-top: 0;
    background-color: #0f1c3b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.navbar {
    display: flex;
}

.navigation {
    position: static;
    text-decoration: none;
    color : #ffffff; /*#2e2a26*/
    cursor: pointer;
    margin-right: 50px;
    justify-content: space-between;
}

.navigation:hover {
    transition: 0.3s;
    color: #ffa723fa;
}

.logo {
    display: flex;
    height: 65px;
    width: 65px;
}

.lgse {
    padding: 10px 0 20px 20px;
    display: flex;
    background-color: #3F3D56;
    height: 50px;
}

.logobutton {
    justify-content: center;
    display: block;
    width: 65px;
    height: 65px;
}

.search-input {
    margin-top: 17px;
    margin-left: 50px;
    width: 300px;
    height: 30px;
    border: 1px solid #0f1c3b;
    outline: none;
    padding-left: 10px;
    background-color: #fdd08b;
    border-radius: 8px;
    font-size: 15px;
}


.login {
    padding-left: 550px;
    margin-right: 1px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    position: absolute;
}

.login:hover {
    transition: 0.3s;
    color: #ffa723fa;
}

.productgroup {
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.dproduct {
    margin-top: 50px;
    width: 300px;
    height: 400px;
    background-color: #fdd08b;
    border-radius: 15px;
}


.dproduct:hover {
    transition: 0.2s;
    filter: drop-shadow(0px 0px 5px #3F3D56);
}

