@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    font-family: 'Nunito', sans-serif;
}

body {
    background: #fdd08b; /*#ffa723fa*/
    /**background-image: url("foto/Background/test\ bg.jpg"); OR color #ff9900 **/
    margin: 0;
}

.content {
    width: auto;
    height: auto;
}

/* HEADER STYLE START */
.navmenu {
    height: 60px;
    background-color: #0f1c3b;
    display: flex;
    justify-content: center;
    align-items: center;
}


.navigation {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.navigation:hover {
    transition: 0.3s;
    color: #ffa723fa;
}

.logind {
    text-align: center;
    align-items: flex-end;
    word-wrap: unset;
}

.login {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.login:hover {
    transition: 0.3s;
    color: #ffa723fa;
}


.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.flex-container space-between {
    justify-content: space-between;
}

.flex-item {
    padding: 5px;
    width: 60px;
    height: 50px;
    margin: 5px;
    line-height: 50px;
    text-align: center;
}

/* HEADER STYLE END */

.lgse {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffa723fa; /*#3F3D56*/
    height: 60px;
}

.logobutton {
    margin-top: 5px;
    margin-left: 20px;
    display: block;
    width: 45px;
    height: 45px;
}

.searchdiv {
    display: flex;
    padding-left: 5px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid #0f1c3b;
    background-color: #fdd08b;
}

.search-input {
    margin-top: 2px;
    width: 300px;
    height: 30px;
    border: 0;
    outline: none;
    background-color: transparent;
    font-size: 17px;
}

.sumbit_div {
    margin: 3px 5px 0 10px;
    text-align: center;
    width: 27px;
    height: 27px;
    background-color: #ffa723fa;
    border-radius: 5px;
    border: 1px solid #0f1c3b;
}

.searchph {
    width: 23px;
    height: 23px;
}


.productgroup {
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap: 70px;
}

.dproduct {
    margin-top: 200px;
    width: 300px;
    height: 400px;
    justify-content: center;
    text-align: center;
    background-color: #ffa723fa; /*#fdd08b*/
    border-radius: 15px;
    filter: drop-shadow(0px 0px 2px #3F3D56);
}


.dproduct:hover {
    transition: 0.2s;
    filter: drop-shadow(0px 0px 8px #3F3D56);
}

.components {
    margin-top: 10px;
    margin-bottom: 7%;
    width: 90%;
    height: 45%;
    filter: drop-shadow(0px 0px 4px black);
    user-select: none;
}

.monitor {
    margin-top: 10px;
    width: 70%;
    height: 50%;
    filter: drop-shadow(0px 0px 3px black);
    user-select: none;
}

.mouse {
    margin-top: 15px;
    width: 45%;
    height: 45%;
    filter: drop-shadow(0px 0px 4px black);
    user-select: none;
}

.keyboard {
    margin-top: 15px;
    width: 70%;
    height: 40%;
    filter: drop-shadow(0px 0px 4px black);
    user-select: none;
}

.headphones {
    margin-top: 15px;
    width: 50%;
    height: 42%;
    filter: drop-shadow(0px 0px 3px black);
    user-select: none;
}

.attxt {
    text-decoration: none;
    color: #0f1c3b;
    cursor: pointer;
}

.ptxt {
    margin-top: 30px;
}

.ktxt {
    margin-top: 50px;
}

.atxt {
    margin-top: 40px;
}

.attxt:hover {
    text-decoration: underline;
    color: #3F3D56;
    transition: 0.2s;
}